@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto Light;
  src: url("assets/fonts/Roboto-light.ttf");
}
@font-face {
  font-family: Roboto Medium;
  src: url("assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf");
}

:root {
  --bg-dark: #030303;
  --white: #ffffff;
  --black: #000000;
  --dark-red: #710707;
  --font-gold: #9d8665;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: var(--bg-dark);
}

.header-container {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-left: 55px;
}
.nav-item a,
.mobile-nav-item a {
  width: 122px;
  background: none;
  border-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--white);
  text-decoration: none;
}

.nav-item a:hover,
.mobile-nav-item a:hover {
  text-decoration: none;
  color: var(--font-gold);
}
.nav-item a:active,
.mobile-nam-item a:active {
  text-decoration: none;
  color: var(--font-gold);
  opacity: 0.5;
}
.mobile-nav-item a svg {
  width: 12px;
  height: 12px;
}

.header-mobile-sidebar {
  display: none;
}
.mobile-nav-label #mobile-nav-btn,
.mobile-nav-label #mobile-nav-cancel {
  float: right;
  cursor: pointer;
  display: none;
}

.header-mobile-nav-checkbox {
  display: none;
}
#mobile-nav-btn {
  width: 32px;
  height: 18px;
}
#mobile-nav-cancel {
  width: 25px;
  height: 25px;
}

.black-section {
  width: 100%;
  background-color: var(--bg-dark);
}
.white-section {
  width: 100%;
  background-color: var(--white);
}

.welcome-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.welcome-section h1 {
  margin: 0;
  padding-top: 150px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}
.welcome-section h2 {
  padding-top: 25px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--white);
}
.welcome-text {
  width: 700px;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  z-index: 1;
  background: linear-gradient(to right, black 65%, transparent);
}
.welcome-container .swiper-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  z-index: 0;
  width: 1000px;
  height: 750px;
  position: relative;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.welcome-container .swiper-controls {
  z-index: 10;
  padding-left: 75px;
  padding-right: 75px;
  width: 600px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
}
.welcome-container .swiper-count {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-container .swiper-count span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
}

.welcome-container .swiper-buttons {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.welcome-container .welcome-pagination {
  background-color: var(--bg-dark);
}

.welcome-container .swiper-pagination {
  /* width: 180px;
  padding: 25px 25px; */
  position: revert;
}

.welcome-container .swiper-pagination-bullet {
  background-color: var(--white);
  border-radius: 0;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.welcome-container .swiper-pagination-bullet-active {
  background-color: #d2b183;
}

.welcome-container
  .swiper-horizontal
  > .welcome-container
  .swiper-pagination-bullets
  .swiper-pagination-bullet,
.welcome-container
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 25px;
}

.welcome-container .welcome-swiper-prev {
  background-image: url("assets/svg/swiper/prev.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.welcome-container .welcome-swiper-prev::after {
  position: absolute;
  display: none;
}
.welcome-container .welcome-swiper-next {
  background-image: url("assets/svg/swiper/next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.welcome-container .welcome-swiper-next::after {
  display: none;
}
.welcome-button {
  margin-top: 37px;
  position: relative;
  width: 360px;
  height: 75px;
  top: 39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: var(--white);
  background: var(--dark-red);
  border-radius: 10px;
}
.welcome-button a {
  text-decoration: none;
  color: inherit;
}
.welcome-button:hover {
  color: var(--white);
  background: var(--font-gold);
}

.visiting-section h2 {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}

.visiting-section h2::after {
  display: block;
  content: "";
  top: 25px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}
.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title {
  margin: 0;
  margin-top: 20px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
  transition: 0.35s linear;
  cursor: pointer;
}

.visit-card {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.visit-card img {
  width: 100%;
  height: auto;
}
.visit-card:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 27.5%;
  width: 65%;
  height: 2px;
  background-color: var(--dark-red);
  content: "";
  transition: width 0.3s ease-out;
}

.visit-card:hover:after,
.visit-card:focus:after {
  width: 100%;
}

.card-subtitle {
  margin: 0;
  margin-top: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: var(--black);
}
.card-text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
}

.explore-container {
  padding-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 75px;
}
.explore-text h2 {
  margin: 0;
  margin-bottom: 102px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}
.explore-text h2::after {
  display: block;
  content: "";
  top: 25px;
  left: 0;
  height: 3px;
  width: 91.5%;
  background-color: var(--dark-red);
  position: relative;
}
.explore-text p {
  font-family: Roboto Light;
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--white);
}
.explore-span {
  color: #caaa7d;
}

.explore-picture {
  margin-top: 15px;
  position: relative;
  max-width: 720px;
  min-height: 700px;
}
.explore-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.explore-before,
.explore-after {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.explore-image {
  height: 100%;
}

.explore-after {
  width: 125px;
}

.explore-scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}

.explore-scroller:hover {
  opacity: 1;
}

.explore-scrolling {
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}

.explore-scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.explore-scroller:before,
.explore-scroller:after {
  content: " ";
  display: block;
  width: 5px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
}
.explore-scroller:before {
  top: 100%;
}
.explore-scroller:after {
  bottom: 100%;
}

.explore-scroller {
  border: 5px solid var(--white);
}
.explore-scroller:before,
.explore-scroller:after {
  background: var(--white);
}

.video-text {
  display: flex;
}

.video-section h2 {
  max-height: 50%;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}

.video-section p {
  max-height: 50%;
  margin: 0;
  padding-left: 115px;
  margin-top: 80px;
  margin-bottom: 75px;
  font-family: Roboto Light;
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
  color: var(--black);
}

.video-player {
  max-width: 1440px;
  min-height: 735px;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-controls {
  width: 100%;
  height: 85px;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 5px;
  transition: all 0.2s ease;
  background: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-progress {
  position: relative;
  width: 929px;
  height: 8px;
}

.video-player progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.video-player progress::-webkit-progress-bar {
  background-color: #c4c4c4;
}

.video-player progress::-webkit-progress-value {
  background: var(--dark-red);
}

.seek {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.volume-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.video-player button {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: transparent;
}

.video-player button * {
  pointer-events: none;
}

.video-player button::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  right: 0;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--black);
  font-weight: bold;
  padding: 4px 6px;
  word-break: keep-all;
  white-space: pre;
}

.video-player button:hover::before {
  display: inline-block;
}

.fullscreen-button {
  margin-right: 0;
}

.playback-animation {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -120px;
  z-index: 2;
}

.playback-animation svg {
  width: 220px;
  height: 220px;
  fill: var(--white);
}

.video-player input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  cursor: pointer;
  margin: 0;
}

.video-player input[type="range"]:focus {
  outline: none;
}

.video-player input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

.video-player input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: var(--white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

.video-player input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.volume-progress {
  margin-left: 50px;
  position: relative;
  width: 155px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player input[type="range"].volume {
  width: 100%;
  height: 8px;
  z-index: 5;
}

.video-player input[type="range"].volume::-webkit-slider-runnable-track {
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.video-player input[type="range"].volume::-webkit-slider-thumb {
  margin-left: -1px;
  height: 15px;
  width: 15px;
  background: var(--white);
}
.hidden {
  display: none;
}

.video-controls svg {
  width: 35px;
  height: 35px;
  fill: #b3b3b3;
  cursor: pointer;
}

.video-swiper-container {
  margin-top: 40px;
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-swiper-controls {
  width: 200px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-swiper-container .swiper-pagination {
  position: revert;
  width: 180px;
  align-items: center;
  justify-content: space-between;
}

.video-swiper-container .swiper-pagination-bullet {
  background-color: #999999;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  opacity: 1;
}
.video-swiper-container .swiper-pagination-bullet-active {
  background-color: #333333;
}

.video-swiper-container .video-swiper-prev {
  background-image: url("assets/svg/videoplayer/stroke1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.video-swiper-container .video-swiper-prev::after {
  display: none;
}
.video-swiper-container .video-swiper-next {
  background-image: url("assets/svg/videoplayer/stroke2.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.video-swiper-container .video-swiper-next::after {
  display: none;
}

.gallery-container {
  margin-top: 75px;
}

.gallery-container h2 {
  margin: 0;
  padding-top: 75px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.picture-container {
  margin-top: 75px;
  max-width: 100%;
  height: 1500px;
  overflow-y: hidden;
  position: relative;
}

.picture-inner-container {
  line-height: 36px;
  row-gap: 24px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-gap: 24px;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
}

.picture-overlay {
  z-index: 10;
  width: 100%;
  height: 360px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets-container {
  padding-bottom: 75px;
}

.tickets-section h2 {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}

.tickets-section h2::after {
  display: block;
  content: "";
  top: 25px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}

.tickets-workspace {
  display: flex;
}
.tickets-type {
  margin-left: 60px;
}
.tickets-type h3,
.tickets-amount h3 {
  font-family: Roboto Bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--black);
  margin-bottom: 50px;
}

.tickets-type-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.tickets-type-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.tickets-type-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  border: solid 2px black;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.tickets-type-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.tickets-type-container input:checked ~ .tickets-type-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.tickets-type-container .tickets-type-checkmark:after {
  top: 2px;
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--black);
}

.tickets-amount {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.tickets-amount h3 {
  margin-left: auto;
  float: right;
  margin-bottom: 25px;
}

.tickets-amount h4 {
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 15px;
}
.tickets-senior {
  margin-top: 10px;
}
.tickets-basic,
.tickets-senior {
  padding-left: 25px;
}
.tickets-amount .number {
  all: unset;
  width: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.tickets-basic-amount,
.tickets-senior-amount {
  max-width: 150px;
  display: flex;
  border: solid 3px black;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.tickets-basic button,
.tickets-senior button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

.tickets-total p {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 60px;
  float: right;
  font-family: Roboto Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #000000;
}

.buy-button {
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  border-color: transparent;
}

.buy-button a {
  text-decoration: none;
  color: inherit;
}
.buy-button:hover {
  color: #000000;
  background: #9d8665;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  left: -100%;
  opacity: 0;
  transition: left 0.4s, opacity 0.4s;
}
.modal.show {
  left: 0;
  opacity: 1;
  /* overflow-y: hidden; */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 1440px;
  height: 845px;
}

/* The Close Button */
.close {
  text-decoration: none;
  float: right;
  cursor: pointer;
}

.close-icon {
  background-image: url("assets/modal/Close.png");
  margin-top: 30px;
  margin-right: 30px;
  height: 25px;
  width: 25px;
  display: block;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 1440px;
  height: 845px;
}

.booking {
  margin: 91px 235px;
  display: flex;
}
.booking-tickets {
  width: 400px;
  height: 663px;
}

.booking-overview {
  width: 530px;
  height: 663px;
}
.booking-tickets-title {
  display: flex;
  flex-direction: column;
}
.booking-tickets-title img {
  width: 85px;
  height: 41px;
}

.booking-tickets h3 {
  margin: 0;
  margin-bottom: 15px;
  white-space: nowrap;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
  float: left;
}

.booking-tickets h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
  padding-bottom: 60px;
}
.booking-tickets h4::after {
  display: block;
  content: "";
  top: 10px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}
.booking-form {
  display: flex;
  flex-direction: column;
}
.booking-form div.elem-group {
  margin: 10px 0;
}

.booking-form div.elem-group.inlined {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}
.booking-form div.elem-group.inlined input {
  display: inline-block;
  width: 190px;
  height: 100%;
}

.booking-form input,
.booking-form select {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.tickets-amount-modal .number {
  box-sizing: border-box;
  border: solid 1px black;
  width: calc(100% / 3);
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  -webkit-appearance: none;
}

.booking-form input,
.booking-form input::placeholder,
.booking-form select {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.booking-form input::-webkit-outer-spin-button,
.booking-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background: url(assets/modal/arrow.png) no-repeat;
  margin-top: 5px;
  cursor: pointer;
}

input[type="date"]::before,
input[type="time"]::before {
  content: attr(data-placeholder);
  width: 100%;
  text-indent: 25px;
}

.booking-form input:focus::placeholder {
  color: transparent;
}

input[type="date"]:valid::before,
input[type="time"]:valid::before {
  display: none;
}

#date {
  background-image: url(assets/modal/date.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 15px;
}

#time {
  background-image: url(assets/modal/time.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 15px;
}

#name {
  background-image: url(assets/modal/name.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 25px;
}
#email {
  background-image: url(assets/modal/email.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 25px;
}
#phone {
  background-image: url(assets/modal/tel.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

*:focus {
  outline: none;
}

.elem-group select {
  display: block;
  background: url(assets/modal/ballot.png) no-repeat left 0.5rem center,
    url(assets/modal/arrow.png) no-repeat right 1rem center;
  -webkit-appearance: none;
  text-indent: 25px;
  cursor: pointer;
}
.tickets-amount-modal {
  border: solid 1px var(--bg-dark);
  padding: 11px;
}

.tickets-amount-modal h4 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #9d8665;
  padding-bottom: 15px;
}
.tickets-amount-modal h4::after {
  display: block;
  content: "";
  top: 5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}

.tickets-basic-modal,
.tickets-senior-modal {
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.tickets-basic-modal p,
.tickets-senior-modal p {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.tickets-basic-modal-amount,
.tickets-senior-modal-amount {
  width: 105px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tickets-basic-modal button,
.tickets-senior-modal button {
  display: block;
  outline: none;
  outline-width: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: 25px;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #000000;
  color: white;
}

.booking-overview {
  border: solid 1px var(--bg-dark);
  padding: 25px 25px;
  margin-left: 40px;
}

.booking-overview h3 {
  font-family: Roboto Medium;
  margin-left: 5px;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
  float: none;
}

.booking-overview h4 {
  font-family: Roboto Medium;
  font-style: normal;
  margin-left: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
}

.overview-text-input {
  margin-top: -5px;
  margin-left: 5px;
}
.overview-text-input p {
  font-family: "Roboto Light";
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.overview-image {
  position: relative;
}
.overview-image img {
  position: absolute;
  bottom: 37px;
  right: 3px;
}

.date-icon {
  background-image: url("assets/modal/date.png");
  margin-right: 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
}
.time-icon {
  background-image: url("assets/modal/time.png");
  margin-right: 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
}
.type-icon {
  background-image: url("assets/modal/check_circle_outline.png");
  margin-right: 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.tickets-summary {
  margin-top: 22px;
}

.tickets-summary::after {
  display: block;
  content: "";
  top: 5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}

.tickets-summary-type,
.tickets-summary-type-value,
.tickets-summary-total {
  display: flex;
}

.tickets-summary-type,
.tickets-summary-total {
  justify-content: space-between;
}
.tickets-summary-type-value input {
  border: none;
  margin: 0 10px 6px 0;
  width: 32px;
  height: 20px;
  background: #000000;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #A4A4A3;
  text-align: center;
}

.tickets-summary-type-value input::-webkit-outer-spin-button,
.tickets-summary-type-value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tickets-summary p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}



.tickets-summary-total {
  margin: 10px 0;
}

.tickets-summary-total-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: #030303;
}

.tickets-summary-total-sum {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #030303;
}



.credit-card-div {
  width: 470px;
  height: 241px;
}

.credit-card {
  position: relative;
  width: 360px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.magnet {
  margin-top: 25px;
  display: block;
  width: 100%;
  margin-left: 20px;
  background-color: #000;
  height: 45px;
}
.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  width: 360px;
  height: 211px;
  overflow: hidden;
}
.card label {
  display: block;
  padding: 5px 0 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

#card-number {
  width: 215px;
  height: 35px;
  border: solid 1px #a4a4a3;
  text-align: center;
}

#cardholder-name {
  width: 320px;
  height: 35px;
  border: solid 1px #a4a4a3;
  text-align: center;
}

.card fieldset {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  border: 0;
}

.card-month-group,
.card-year-group {
  display: flex;
}

.arrow-up {
  background-image: url("assets/modal/arrow1.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: bottom center;
  margin-bottom: 1.5px;
  display: block;
}

.arrow-down {
  background-image: url("assets/modal/arrow2.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: top center;
  margin-top: 1.5px;
  display: block;
}

.card-button-group {
  display: flex;
  flex-direction: column;
  border: solid 1px #a4a4a3;
  border-left: none;
}

.card-button-group button {
  width: 28px;
  flex: 1;
  border: none;
  background-color: white;
}

.card-button-group button:hover {
  background-color: #ccc;
}
.card-button-group button:active {
  background-color: #888;
}

.exp-date legend {
  padding: 10px 0 5px 0;
}
.exp-date input[type="number"]::-webkit-outer-spin-button,
.exp-date input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.exp-date input[type="number"],
.exp-date input[type="number"]:hover,
.exp-date input[type="number"]:focus {
  appearance: none;
  text-align: center;
}

.card-year-group {
  margin-left: 13px;
}

#card-month,
#card-year {
  width: 72px;
  height: 35px;
  border: solid 1px #a4a4a3;
}

.visa-mastercard {
  position: absolute;
  top: 33.5px;
  left: 285px;
  display: flex;
  flex-direction: column;
}

.visa-mastercard img {
  margin: 7.5px 0;
}
.cvc-cw {
  position: absolute;
  top: 125px;
  left: 375px;
  float: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #161615;
}
.cvc-cw input {
  width: 75px;
  height: 35px;
  text-align: center;
  border: solid 1px #a4a4a3;
}
.cvc-cw span {
  width: 55px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.credit-card-back {
  background: #939393;
  left: 110px;
  bottom: 180px;
}
.credit-card-front {
  background: #bcbcbc;
  z-index: 50;
}
.booking-modal-button {
  margin-top: 26px;
  margin-right: 7px;
  position: relative;
}

.booking-modal-button button {
  width: 220px;
  height: 45px;
  background-color: #710707;
  font-family: "Roboto";
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 300ms;
  float: right;
}

.booking-modal-button button:focus {
  outline: none;
}

.booking-modal-button button .circle {
  position: absolute;
  background-color: white;
  /* width: 50px;
height: 50px; */
  border-radius: 50%;
  transform: scale(0);
  animation: scale 0.5s linear;
}

@keyframes scale {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.parallax-container {
  height: 400px;
  background-image: url("assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.contacts-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.contacts-container h2 {
  margin: 0;
  margin-bottom: 103px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
}
.contacts-container h2::after {
  display: block;
  content: "";
  top: 25px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--dark-red);
  position: relative;
}

.contacts-container h3 {
  margin: 0;
  margin-bottom: 50px;
  font-family: Roboto Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: var(--black);
}
.contacts-container p {
  margin: 25px 0px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--black);
}

.contacts-block {
  display: flex;
  justify-content: space-between;
}
.contacts-img img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  min-height: 392px;
  background: var(--bg-dark);
}
.footer-container {
  min-height: 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  margin-top: 60px;
  align-self: flex-start;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation ul {
  margin: 0;
  columns: 2;
  column-gap: 155px;
  list-style-type: none;
}

.footer-navigation li {
  background: none;
  border-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--white);
}
.footer-navigation a {
  text-decoration: none;
  color: inherit;
}
.footer-navigation a:hover {
  text-decoration: none;
  color: var(--font-gold);
}

.social {
  align-self: flex-end;
  padding-bottom: 75px;
}

.social ul {
  display: flex;
  column-gap: 25px;
}
.social li {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #666666;
}
.social a {
  display: inline-block;
}
.social-icon {
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center;
  display: inline-block;
}

.youtube {
  background-image: url(assets/svg/social/Youtube.svg);
}
.youtube:hover,
.youtube:focus {
  filter: invert(56%) sepia(50%) saturate(253%) hue-rotate(356deg)
    brightness(88%) contrast(84%);
}
.instagram {
  background-image: url(assets/svg/social/Instagram.svg);
}
.instagram:hover,
.instagram:focus {
  filter: invert(56%) sepia(50%) saturate(253%) hue-rotate(356deg)
    brightness(88%) contrast(84%);
}
.facebook {
  background-image: url(assets/svg/social/Facebook.svg);
}
.facebook:hover,
.facebook:focus {
  filter: invert(56%) sepia(50%) saturate(253%) hue-rotate(356deg)
    brightness(88%) contrast(84%);
}
.twitter {
  background-image: url(assets/svg/social/Twitter.svg);
}
.twitter:hover,
.twitter:focus {
  filter: invert(56%) sepia(50%) saturate(253%) hue-rotate(356deg)
    brightness(88%) contrast(84%);
}
.pinterest {
  background-image: url(assets/svg/social/Pinterest.svg);
}
.pinterest:hover,
.pinterest:focus {
  filter: invert(56%) sepia(50%) saturate(253%) hue-rotate(356deg)
    brightness(88%) contrast(84%);
}

.footer-info-container {
  width: 100%;
  border: 3px #666666;
  border-top-style: solid;
}

.footer-info {
  margin-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-year {
  justify-self: start;
}
.footer-school {
  justify-self: center;
}
.footer-username {
  justify-self: end;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    max-width: 984px;
    margin: 0 auto;
  }
  .header-container {
    min-height: 130px;
  }

  .mobile-nav-label #mobile-nav-btn {
    display: block;
  }

  .header-sidebar {
    display: none;
  }
  .mobile-nav-img {
    display: none;
  }
  .mobile-social {
    display: none;
  }
  .header-mobile-sidebar {
    display: block;
  }
  .header-mobile-navigation-items {
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    padding-left: 55px;
    width: 30%;
    height: 100vh;
    top: 130px;
    left: -100%;
    z-index: 30;
    background-color: var(--bg-dark);
    text-align: left;
    transition: all 0.5s;
  }
  .header-mobile-navigation-items li {
    display: block;
  }
  .header-mobile-nav-checkbox:checked ~ .header-mobile-navigation-items {
    left: 0;
  }

  .header-mobile-nav-checkbox:checked ~ .mobile-nav-label #mobile-nav-btn {
    display: none;
  }

  .header-mobile-nav-checkbox:checked ~ .mobile-nav-label #mobile-nav-cancel {
    display: block;
  }

  .welcome-text {
    width: 500px;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: 1;
    background: linear-gradient(to right, black 65%, transparent);
  }

  .welcome-section h1 {
    padding-top: 50px;
    font-size: 50px;
  }
  .welcome-section h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .welcome-button {
    margin-top: 23px;
    position: relative;
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
  }

  .welcome-container .swiper-container {
    width: 700px;
    height: 525px;
  }

  .welcome-container .swiper-controls {
    width: 700px;
    justify-content: flex-end;
  }

  .welcome-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .visit-card:after {
    left: 0;
    bottom: 19.5%;
  }

  .visit-card {
    width: 330px;
    height: 345px;
  }
  .card-title {
    margin: 0;
    margin-top: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
    transition: 0.35s linear;
    cursor: pointer;
  }

  .card-subtitle {
    margin: 0;
    margin-top: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
  }
  .card-text {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
  }

  .explore-container {
    display: flex;
    flex-direction: column;
  }
  .explore-text h2::after {
    width: 100%;
  }

  .video-text p {
    display: none;
  }

  .video-player {
    max-width: 984px;
    min-height: 444px;
    position: relative;
  }

  .video-controls {
    width: 100%;
    height: 53px;
  }

  .video-controls svg {
    width: 30px;
    height: 30px;
  }

  .playback-animation {
    margin-left: -110px;
    margin-top: -130px;
  }

  .playback-animation svg {
    width: 152px;
    height: 152px;
  }

  .video-progress {
    width: 564px;
    height: 5px;
  }

  .tickets-type {
    margin-left: 60px;
    visibility: hidden;
  }
  .tickets-amount {
    margin-left: -150px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
  .header-container {
    min-height: 110px;
    z-index: 100;
  }
  .header-sidebar {
    display: none;
  }

  .mobile-social {
    display: block;
  }

  .mobile-nav-label #mobile-nav-btn {
    display: block;
  }

  .header-mobile-navigation-items {
    overflow-y: scroll;
    padding-left: 20px;
    position: fixed;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: -150%;
    left: 0;
    background-color: var(--bg-dark);
    text-align: left;
    transition: all 0.5s;
  }
  .header-mobile-navigation-items li {
    margin-left: 30px;
    display: block;
  }

  .header-mobile-nav-checkbox:checked ~ .header-mobile-navigation-items {
    top: 110px;
    left: 0;
  }

  .header-mobile-nav-checkbox:checked ~ .mobile-nav-label #mobile-nav-btn {
    display: none;
  }
  .header-mobile-nav-checkbox:checked ~ .mobile-nav-label #mobile-nav-cancel {
    display: block;
  }
  .mobile-nav-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
  }

  .mobile-nav-img-1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .mobile-nav-img-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .mobile-nav-img-3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-section h1 {
    padding-top: 0px;
    font-size: 40px;
    text-align: center;
  }
  .welcome-section h2 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
  }

  .welcome-button {
    display: none;
  }

  .welcome-container .swiper-container {
    width: 728px;
    height: 546px;
  }

  .welcome-container .swiper-controls {
    width: 100%;
    justify-content: center;
  }

  .welcome-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .explore-text p {
    display: none;
  }
  .picture-inner-container {
    line-height: 36px;
    row-gap: 24px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 24px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
  }
  .tickets-image img {
    width: 444px;
    height: 340px;
  }
}
